*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(38, 38, 65);
    display: flex;
    place-items: center;
    height: 100vh;
}
main{
    display:grid;
    grid-template-areas: 
    'a a a a a a a b b b b'
    'a a a a a a a b b b b'
    'c c c c c d d d d d d'
    'c c c c c e e e e e e'
    ;
    gap: 9px;
    margin: auto;
    width: 50%;
}
main div{
    text-align: center;
    border-radius: 1px;
}
.div1{
    background-color: orangered;
    grid-area: a;
    height: 140px;
}
.div2{
    background-color: rgb(212, 149, 32);
    grid-area: b;
    height: 140px;
}
.div3{
    background-color: rgb(55, 161, 55);
    grid-area: c;
    height: 140px;
}
.div4{
    background-color: rgb(105, 196, 231);
    grid-area: d;
    height: 65px;
}
.div5{
    background-color: rgb(105, 196, 231);
    grid-area: e;
    height: 65px;
}
